<!--
<li id="menber-<%= menber.id %>">
    <span class="user"><%= link_to menber.user.name, menber.user %></span>
    <span class="group"><%= menber.group.name %></span>

</li>
-->
<%if menber.status == 1 %>
 <tr>
     <%if menber.status == 1 %>
         <td><%= link_to menber.group.name, menber.group %></td>
     <%else%>
         <td><%= menber.group.name %></td>
     <%end%>
     <td><%= count_menber(menber.group.menbers)%>/<%= menber.group.ltnum %></td>
     <td><%= menber.group.ccode %></td>
     <%if menber.authority == 1 %>
         <td>是</td>
     <%else%>
         <td>不是</td>
     <%end%>
     <%if menber.status == 1 %>
         <td>已加入</td>
     <%else%>
         <td>等待接受</td>
     <%end%>
     <td>
     <% if menber.authority != 1 %>
     <%= link_to "退出", menber, method: :delete,
        data: { confirm: "You sure?" } %> 
     <%else%>
        <a href='javascript:void(0)' disabled = 'true' font= 'gray'>退出</a>
     <% end %>    
    </td>
 </tr>
<%end%>
